/* /////////////////////////////////////////// Inicio.css //////////////////////////////////////////////*/
/* Fondo degradado diagonal */
body {
  background: linear-gradient(135deg, #000000, #7e0808, #b5472f, #290c02);
  height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
  margin: 0; /* Elimina el margen por defecto del body */
  color: white;
}

h1 {
  color: white;
}
/* Estilos para el carrusel */
.custom-carousel {
  max-width: 100%; /* Asegúrate de que el carrusel no sea más ancho que la pantalla */
  margin: 0 auto; /* Centra el carrusel */
  max-height: 350px; /* Limita la altura del carrusel */
}

.carousel-container {
  display: flex; /* Usamos flexbox para alinear las imágenes horizontalmente */
  justify-content: space-between; /* Espaciado entre las imágenes */
}

.carousel-container img {
  flex: 1; /* Las imágenes ocupan espacio equitativo */
  margin: 0 5px; /* Espacio entre imágenes */
  max-height: 350px; /* Ajusta la altura máxima */
  object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
}

/* Ajusta la opacidad de las imágenes */
.dimmed-image {
  filter: brightness(80%);
}

/* Estilos para la sección de información */
.info-container {
  text-align: center; /* Centra el texto */
  margin: 20px 0; /* Margen vertical para separar del carrusel */
}

.info-title {
  color: #000; /* Color negro para el título */
  font-size: 35px; /* Tamaño del título */
  margin-bottom: 15px; /* Espacio debajo del título */
  font-weight: bold; /* Hace el texto en negrita */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreado del texto */
}

.info-content {
  display: flex; /* Usamos flexbox para alinear imagen y texto */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Alinea verticalmente el contenido */
  color: #ffffff;
}

.info-image {
  width: 350px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 20px; /* Espacio entre la imagen y el texto */
  border-radius: 15px;
}

.info-text {
  max-width: 500px; /* Ancho máximo para el texto */
  font-size: 20px; /* Tamaño del texto */
}

.custom-card {
  background-color: #333; /* Color oscuro similar al de la imagen */
  color: white;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-style {
  color: white;
  opacity: 0.6; /* Ajusta la opacidad para que sea menos intensa */
}

.text-muted {
  color: #cccccc;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline; /* Subrayado para el título principal */
}

.modal-subtitle {
  font-size: 16px;
  text-decoration: underline; /* Subrayado para subtítulos */
  font-weight: bold;
}

.modal-date {
  font-size: 14px;
  text-decoration: underline; /* Subrayado para la fecha */
}

.titulo-historial {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco traslúcido */
  padding: 10px; /* Espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  color: #0f0c0c; /* Color del texto */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  margin-top: 20px;
}

.titulo-historial-opciones {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco traslúcido */
  padding: 6px; /* Espacio interno aún más reducido */
  border-radius: 4px; /* Bordes redondeados aún más suaves */
  color: #0f0c0c; /* Color del texto */
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1); /* Sombra aún más sutil */
  margin-top: 10px; /* Margen superior aún más reducido */
}

.titulo-historial-vendidos {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco traslúcido */
  padding: 10px; /* Espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  color: #0f0c0c; /* Color del texto */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  margin-top: 20px;
}



